.sidebar-container {
  width: 280px;
  min-width: 280px;
  background: #ffffff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 128px);
  padding: 27px 17px;
  overflow: auto;
}
.sidebar-container .sidebar-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.sidebar-container .sidebar-item:hover {
  background-color: #f3f3f3;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sidebar-create-story-container {
  width: 380px;
  min-width: 380px;
  background: #ffffff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 128px);
  padding: 27px 17px;
  overflow: auto;
}
