.ant-modal-header .ant-modal-title {
  color: #eb1551;
  font-family: Bubblegum Sans;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 20px;
}
.ant-modal-body .ant-form-item-label label {
  color: #33383f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}
.ant-modal-body input {
  color: #1a1d1f;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.15px;
}
